---
---

@import "{{ site.theme }}";
.header {
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1.5em black;
  padding: 1em 1em;
}
.header-page {
  background-color: #159957; /* VAR: $header-bg-color */
  //background-image: linear-gradient(120deg, #155799, #159957); /* VARS: $header-bg-color, $header-bg-color-secondar */
  background-image: url('images/banner.png');
  padding: 1.25em 0; /* padding for top and bottom only */
}
.banner {
  padding: 1em 1em;
}
.page-header {
  background-image: url('images/banner.png');
}
